{% extends 'base.html' %}

{% block content %}
          <div class="contact_section layout_padding">
             <div class="container">
                <div class="row">
                   <div class="col-md-6">
                      <h1 class="contact_text" style="color: black;">BOG'LANISH</h1>
                      <div class="mail_sectin">
                        <form method="POST">
                              {% csrf_token %}
                              {{ form }}
                              <button type="submit" class="send_bt" style="border: 1.8px solid green; border-radius: 5px;"><b>Yuborish</b></button>
                        </form>
                      </div>
                   </div>
                   <div class="col-md-6">
                      <div class="map_main">
                            <div class="map-responsive">
                               <iframe src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA0s1a7phLN0iaD6-UE7m4qP-z21pH0eSc&amp;q=41.266426,69.339179" width="600" height="500" frameborder="0" style="border:0; width: 100%; border-radius: 5px;" allowfullscreen=""></iframe>
                            </div>
                         </div>
                   </div>
                </div>
             </div>
      </div>
{% endblock %}