{% extends 'base.html' %}
{% load static %}

{% block content %}
   <div class="services_section layout_padding">
         <div class="container">
            <h1 class="services_taital">Bizning xizmatlar</h1>
            <p class="many_taital">Bizning xizmatlar bilan tanishib chiqishingiz mumkin.</p>
            <div class="services_section2 layout_padding">
               <div class="row">
                  <div class="col-lg-3 col-sm-6">
                     <div class="icon_1"><img src="{% static 'images/icon-1.png' %}"></div>
                     <h2 class="furnitures_text">Oshxona</h2>
                     <p class="dummy_text">Oshxona uchun mebellar</p>
                     <div class="read_bt_main">
                        <div class="read_bt"><a href="{% url 'category' 'oshxona' %}">Batafsil</a></div>
                     </div>
                  </div>
                  <div class="col-lg-3 col-sm-6">
                     <div class="icon_1"><img src="{% static 'images/icon-2.png' %}"></div>
                     <h2 class="furnitures_text">ofislar</h2>
                     <p class="dummy_text">Ofislar uchun</p>
                     <div class="read_bt_main">
                        <div class="read_bt"><a href="{% url 'category' 'ofis' %}">Batafsil</a></div>
                     </div>
                  </div>
                  <div class="col-lg-3 col-sm-6">
                     <div class="icon_1"><img src="{% static 'images/icon-3.png' %}"></div>
                     <h2 class="furnitures_text">Uylar</h2>
                     <p class="dummy_text">Uy uchun mebellar</p>
                     <div class="read_bt_main">
                        <div class="read_bt"><a href="{% url 'category' 'uy' %}">Batafsil</a></div>
                     </div>
                  </div>
                  <div class="col-lg-3 col-sm-6">
                     <div class="icon_1"><img src="{% static 'images/icon-4.png' %}"></div>
                     <h2 class="furnitures_text">yotoqxona</h2>
                     <p class="dummy_text">Yotoqxonalar uchun</p>
                     <div class="read_bt_main">
                        <div class="read_bt"><a href="{% url 'category' 'yotoqxona' %}">Batafsil</a></div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
{% endblock %}


<!--{% load static %}-->

<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--   <head>-->
<!--      &lt;!&ndash; basic &ndash;&gt;-->
<!--      <meta charset="utf-8">-->
<!--      <meta http-equiv="X-UA-Compatible" content="IE=edge">-->
<!--      <meta name="viewport" content="width=device-width, initial-scale=1">-->
<!--      &lt;!&ndash; mobile metas &ndash;&gt;-->
<!--      <meta name="viewport" content="width=device-width, initial-scale=1">-->
<!--      <meta name="viewport" content="initial-scale=1, maximum-scale=1">-->
<!--      &lt;!&ndash; site metas &ndash;&gt;-->
<!--      <title>Vintage Fur</title>-->
<!--      <meta name="keywords" content="">-->
<!--      <meta name="description" content="">-->
<!--      <meta name="author" content="">-->
<!--      &lt;!&ndash; bootstrap css &ndash;&gt;-->
<!--      <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">-->
<!--      &lt;!&ndash; style css &ndash;&gt;-->
<!--      <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">-->
<!--      &lt;!&ndash; Responsive&ndash;&gt;-->
<!--      <link rel="stylesheet" href="{% static 'css/responsive.css' %}">-->
<!--      &lt;!&ndash; fevicon &ndash;&gt;-->
<!--      <link rel="icon" href="{% static 'images/fevicon.png' %}" type="image/gif" />-->
<!--      &lt;!&ndash; Scrollbar Custom CSS &ndash;&gt;-->
<!--      <link rel="stylesheet" href="{% static 'css/jquery.mCustomScrollbar.min.css' %}">-->
<!--      &lt;!&ndash; Tweaks for older IEs&ndash;&gt;-->
<!--      <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">-->
<!--      &lt;!&ndash; owl stylesheets &ndash;&gt;-->
<!--      <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">-->
<!--      <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">-->
<!--      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">-->
<!--   </head>-->
<!--   <body>-->
<!--      &lt;!&ndash; header section start &ndash;&gt;-->
<!--      <div class="header_section">-->
<!--         <div class="container">-->
<!--            <nav class="navbar navbar-expand-lg navbar-light bg-light">-->
<!--               <div class="logo"><a href="{% url 'home' %}"><img src="{% static 'images/logo.png' %}"></a></div>-->
<!--               <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">-->
<!--               <span class="navbar-toggler-icon"></span>-->
<!--               </button>-->
<!--               <div class="collapse navbar-collapse" id="navbarSupportedContent">-->
<!--                  <ul class="navbar-nav mr-auto">-->
<!--                     <li class="nav-item">-->
<!--                        <a class="nav-link" href="{% url 'home' %}">Bosh sahifa</a>-->
<!--                     </li>-->
<!--                     <li class="nav-item">-->
<!--                        <a class="nav-link" href="{% url 'services' %}">Mebel turlari</a>-->
<!--                     </li>-->
<!--                     <li class="nav-item">-->
<!--                        <a class="nav-link" href="{% url 'about' %}">Biz...</a>-->
<!--                     </li>-->
<!--                     <li class="nav-item">-->
<!--                        <a class="nav-link" href="{% url 'shop' %}">Mebellar</a>-->
<!--                     </li>-->
<!--                     <li class="nav-item">-->
<!--                        <a class="nav-link" href="{% url 'contact' %}">Aloqa</a>-->
<!--                     </li>-->
<!--                  </ul>-->
<!--                  <form class="form-inline my-2 my-lg-0">-->
<!--                     <div class="search_icon">-->
<!--                        <ul>-->
<!--                           <li><a href="#"><img src="{% static 'images/search-icon.png' %}"></a></li>-->
<!--                        </ul>-->
<!--                     </div>-->
<!--                  </form>-->
<!--               </div>-->
<!--            </nav>-->
<!--         </div>-->
<!--      </div>-->

<!--      &lt;!&ndash; header section end &ndash;&gt;-->
<!--      &lt;!&ndash; services section start &ndash;&gt;-->
<!--      &lt;!&ndash; services section end &ndash;&gt;-->
<!--      <div class="services_section layout_padding">-->
<!--         <div class="container">-->
<!--            <h1 class="services_taital">Bizning xizmatlar</h1>-->
<!--            <p class="many_taital">Bizning xizmatlar bilan tanishib chiqishingiz mumkin.</p>-->
<!--            <div class="services_section2 layout_padding">-->
<!--               <div class="row">-->
<!--                  <div class="col-lg-3 col-sm-6">-->
<!--                     <div class="icon_1"><img src="{% static 'images/icon-1.png' %}"></div>-->
<!--                     <h2 class="furnitures_text">Mebellar</h2>-->
<!--                     <p class="dummy_text">Har xil turdagi mebellar</p>-->
<!--                     <div class="read_bt_main">-->
<!--                        <div class="read_bt"><a href="#">Batafsil</a></div>-->
<!--                     </div>-->
<!--                  </div>-->
<!--                  <div class="col-lg-3 col-sm-6">-->
<!--                     <div class="icon_1"><img src="{% static 'images/icon-2.png' %}"></div>-->
<!--                     <h2 class="furnitures_text">ofislar</h2>-->
<!--                     <p class="dummy_text">Ofislar uchun</p>-->
<!--                     <div class="read_bt_main">-->
<!--                        <div class="read_bt"><a href="#">Batafsil</a></div>-->
<!--                     </div>-->
<!--                  </div>-->
<!--                  <div class="col-lg-3 col-sm-6">-->
<!--                     <div class="icon_1"><img src="{% static 'images/icon-3.png' %}"></div>-->
<!--                     <h2 class="furnitures_text">Uylar</h2>-->
<!--                     <p class="dummy_text">Uylar uchun mebellar</p>-->
<!--                     <div class="read_bt_main">-->
<!--                        <div class="read_bt"><a href="#">Batafsil</a></div>-->
<!--                     </div>-->
<!--                  </div>-->
<!--                  <div class="col-lg-3 col-sm-6">-->
<!--                     <div class="icon_1"><img src="{% static 'images/icon-4.png' %}"></div>-->
<!--                     <h2 class="furnitures_text">yotoqxona</h2>-->
<!--                     <p class="dummy_text">Yotoqxonalar uchun mebellar</p>-->
<!--                     <div class="read_bt_main">-->
<!--                        <div class="read_bt"><a href="#">Batafsil</a></div>-->
<!--                     </div>-->
<!--                  </div>-->
<!--               </div>-->
<!--            </div>-->
<!--         </div>-->
<!--      </div>-->
<!--      &lt;!&ndash; footer section start &ndash;&gt;-->
<!--      &lt;!&ndash;  footer section end &ndash;&gt;-->
<!--      &lt;!&ndash; copyright section start &ndash;&gt;-->
<!--      <div class="copyright_section">-->
<!--      <div class="container">-->
<!--         <p class="copyright_text">2023 All Rights Reserved. Design by <a href="https://html.design">Free html  Templates</a> Distribution By <a href="https://themewagon.com">ThemeWagon</a></p>-->
<!--      </div>-->
<!--      &lt;!&ndash; copyright section end &ndash;&gt;-->
<!--      &lt;!&ndash; Javascript files&ndash;&gt;-->
<!--      <script src="{% static 'js/jquery.min.js' %}"></script>-->
<!--      <script src="{% static 'js/popper.min.js' %}"></script>-->
<!--      <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>-->
<!--      <script src="{% static 'js/jquery-3.0.0.min.js' %}"></script>-->
<!--      <script src="{% static 'js/plugin.js' %}"></script>-->
<!--      &lt;!&ndash; sidebar &ndash;&gt;-->
<!--      <script src="{% static 'js/jquery.mCustomScrollbar.concat.min.js' %}"></script>-->
<!--      <script src="{% static 'js/custom.js' %}"></script>-->
<!--      &lt;!&ndash; javascript &ndash;&gt;-->
<!--      <script src="{% static 'js/owl.carousel.js' %}"></script>-->
<!--      <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>-->
<!--   </body>-->
<!--</html>-->